.center-align {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
/* #root{
  background-color: black;
  color:whitesmoke;
  font-family: 'Carrois Gothic SC', sans-serif;
} */
button {
  padding-bottom:1%;
}
body #root {
  background-color: black;
  color:whitesmoke;
  height:100vh;
  width:100vw;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.btn{
  margin-bottom:1%;
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
}

h1{
  font-family: 'Bungee Shade', cursive;
  color:#e63946;
  text-shadow: 1px 1px #ffffff;
}

canvas{
  margin-left:5%;
  margin-right:5%;
}

.displayfont{
  font-family: 'Bungee Shade', cursive;
  color:rgb(5, 5, 5);

}

#root > nav {
  color:turquoise;
}


.mainBox {
  border: solid #ffffff;
  border-width: 1px;
  box-shadow: 0px 0px 5px 5px #e63946;
  margin-left:4%;
  margin-right:4%;
  margin-top:6%;
  padding: 5px;
}