.center-align {
  text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
body {
  background-color: black;
  color:whitesmoke;
  font-family: 'Carrois Gothic SC', sans-serif;
}
button {
  padding-bottom:5%;
}