.center-align {
  text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
/* #root{
  background-color: black;
  color:whitesmoke;
  font-family: 'Carrois Gothic SC', sans-serif;
} */
button {
  padding-bottom:5%;
}
body #root {
  background-color: black;
  color:whitesmoke;
  height:100vh;
  width:100vw;
  font-family: 'Carrois Gothic SC', sans-serif;
}